* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corFundo: rgb(80, 80, 200);
    --corTextoFundo: rgb(200, 230, 200);
    --fonteTitulo: 2.5rem;
    --bordaFundo: rgb(235, 95, 95);
}

body {
    background-color: var(--corFundo);
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--fonteTitulo);
    color: var(--corTextoFundo);
    margin: 10px;
}

#cad-cliente {
    display: grid;
    width: 50vw;
    margin: 10px auto;
    gap: 5px;
    background-color: var(--corTextoFundo);
    padding: 20px;
    border: 2px solid var(--bordaFundo);
    align-items: center;
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cad-cliente input[type='text'], #cad-cliente input[type='email']{
    font-size: 1.3rem;
    padding: 5px 5px 5px 10px;
}

#cad-cliente input[type='reset'], #cad-cliente input[type='submit']{
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 5px;
    color: var(--corTextoFundo);
    background-color: var(--corFundo);
    margin: 5px auto;
    width: 150px;
    cursor: pointer;
    transition: all 400ms;
}
#cad-cliente input[type='reset']:hover, #cad-cliente input[type='submit']:hover, .editar-cliente:hover, .excluir-cliente:hover, #entrarLogin:hover{
    transform: scale(1.1);
    transition: all 400ms;
    filter: brightness(0.7);
}

#clientes-table {
    background-color: var(--corTextoFundo);
    width: 50vw;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--bordaFundo);
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 5px;
}

.editar-cliente, .excluir-cliente{
    font-size: 1.4rem;
    padding: 5px;
    color: white;
    transition: all 400ms;
    cursor: pointer;
    border-radius: 5px;
}
.editar-cliente {
    background-color: green;
}
.excluir-cliente {
    background-color: red;
}

#formLogin {
    display: flex;
    width: 50vw;
    flex-direction: column;
    margin: 10px auto;
    background-color: var(--corTextoFundo);
    padding: 20px;
    border-radius: 20px;
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid var(--bordaFundo);
}
#formloginin {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}

#formloginin input {
    padding: 5px 5px 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

#entrarLogin {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--corFundo);
    color: var(--corTextoFundo);
    font-size: 1.4rem;
    margin: 5px auto;
    cursor: pointer;
    transition: all 400ms;
    width: 150px;
}