* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: rgb(99, 169, 182);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 2.6rem;
    text-align: center;
    margin: 10px;
}
h3 {
    font-size: 2.3rem;
    text-align: center;
    margin: 30px;
}
#formulario2 {
    margin: 10px auto;
    justify-content: center;
    width: 450px;
}

#tabelinha2 {
    margin: 10px auto;
    width: 50vw;
    border: 2px solid white;
}
nav {
    width: 50vw;
    margin: 10px auto;
    border: 2px solid white;
    justify-content: space-around;
    padding: 5px;
    display: flex;
}
nav a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: all 400ms;
    
}
nav a:hover {
    filter: brightness(0.7);
    transition: all 400ms;
    
}
