#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(30px);
    display: none;
}

#editForm {
    position: absolute;
    top: 300px;
    left: 500px;
    display: none;
}